<h2 class="block-title">Тарифы на регистрацию доменов</h2>

<div class="prices">
  <div class="item">
    <span class="title">.RU</span>
    <div class="cost">
      <span class="title">Регистрация &mdash; 179 ₽</span>
      <span class="subtitle">Продление &mdash; 179 ₽</span>
    </div>
  </div>
  <div class="item">
    <span class="title">.РФ</span>
    <div class="cost">
      <span class="title">Регистрация &mdash; 179 ₽</span>
      <span class="subtitle">Продление &mdash; 179 ₽</span>
    </div>
  </div>
  <div class="item">
    <span class="title">.STORE</span>
    <div class="cost">
      <span class="title">Регистрация &mdash; 49 ₽</span>
      <span class="subtitle">Продление &mdash; 5390 ₽</span>
    </div>
  </div>
  <div class="item">
    <span class="title">.COM</span>
    <div class="cost">
      <span class="title">Регистрация &mdash; 1290 ₽</span>
      <span class="subtitle">Продление &mdash; 1190 ₽</span>
    </div>
  </div>
</div>

<div class="call-action">
  <div class="content">
    <h1>
      Уже хотите купить или остались вопросы?
      <small>Вы можете перейти в биллинг панель и заказать услуги, либо создать тикет со своим вопросом.</small>
    </h1>
    <a href="https://my.webnodes.ru" target="_blank">Создать аккаунт</a>
  </div>
</div>
