<div class="hot-offer">
  <img src="/assets/images/fire.png">
  <a routerLink="/domains">Регистрируем и продляем домены .RU/.РФ по 179 рублей</a>
</div>

<div class="banner">
  <div class="content">
    <h1>Начните экономить на хостинге уже сегодня</h1>
    <p>
      У нас вы сможете найти доступные и качественные услуги хостинга по одним из самых низких цен на рынке
      хостинга.<br>
      <br>
      А главное, минимальный оверселлинг и бесплатное администрирование.
    </p>

    <div class="actions">
      <a href="https://my.webnodes.ru" class="btn btn-primary">Заказать</a>
      <span>или</span>
      <a href="mailto:support@webnodes.ru">получить консультацию</a>
    </div>
  </div>
  <img src="/assets/images/index.png">
</div>

<div class="partners">
  <img src="/assets/images/cpanel.png" alt="cPanel & WHM" class="cpanel">
  <img src="/assets/images/imunify360.svg" alt="Imunify360">
  <img src="/assets/images/cloudlinux.png" alt="CloudLinux">
  <img src="/assets/images/lxc.png" alt="LXC" class="lxc">
  <img src="/assets/images/kvm.png" alt="KVM" class="kvm">
</div>

<h1 class="block-title">Преимущества</h1>

<div class="features">
  <div class="feature">
    <img src="/assets/images/support.png">
    <span>Реактивная поддержка</span>
    <p>Никаких ответов ради галочки, наша поддержка действительно решает ваши проблемы, а не предлагает решать их
      самостоятельно</p>
  </div>
  <div class="feature">
    <img src="/assets/images/admin.png">
    <span>Бесплатное администрирование</span>
    <p>Не работает сайт, сломались шрифты, отъехал веб-сервер? Не проблема, мы решим, а главное полностью бесплатно и
      без скрытых платежей</p>
  </div>
  <div class="feature">
    <img src="/assets/images/servers.png">
    <span>Надёжное оборудование</span>
    <p>Никаких древних селеронов, только новое и надёжное оборудование на базе Intel Xeon и новейших, быстрых SSD-дисков
      Enterprise уровня</p>
  </div>
</div>

<h1 class="block-title">Наши услуги</h1>

<div class="services">
  <div class="card">
    <div class="card-header">
      Хостинг сайтов
    </div>
    <div class="card-body">
      Скоростной хостинг сайтов с панелью управления cPanel, сменой версии PHP 5.4-8.1, бесплатным администрированием,
      помощью с переносом и многим другим.

      <a routerLink="/hosting/standard">
        Подробнее

        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M184 112l144 144-144 144" />
        </svg>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Бесплатный хостинг
    </div>
    <div class="card-body">
      Никакой рекламы, скрытых платежей, а также обещаний супер-качества. Просто бесплатный хостинг, просто бесплатно, а
      все ограничения расписаны максимально понятно и подробно.

      <a routerLink="/hosting/free">
        Подробнее

        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M184 112l144 144-144 144" />
        </svg>
      </a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Реселлер-хостинг
    </div>
    <div class="card-body">
      Начните свой бизнес в сфере хостинга с минимальными затратами, а главное без упоминания нас, это только ваш бизнес.

      <a routerLink="/hosting/reseller">
        Подробнее

        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M184 112l144 144-144 144" />
        </svg>
      </a>
    </div>
  </div>
  <div class="card sm">
    <div class="card-header">
      Виртуальные серверы
    </div>
    <div class="card-body">
      Недорогие виртуальные серверы с приличным количеством ресурсов.

      <a routerLink="/domains">
        Подробнее

        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M184 112l144 144-144 144" />
        </svg>
      </a>
    </div>
  </div>
  <div class="card sm">
    <div class="card-header">
      Регистрация доменов
    </div>
    <div class="card-body">
      Зарегистрируем или продлим ваш домен практически по себестоимости.

      <a routerLink="/domains">
        Подробнее

        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M184 112l144 144-144 144" />
        </svg>
      </a>
    </div>
  </div>
  <div class="card sm">
    <div class="card-header">
      Лицензии на ПО
    </div>
    <div class="card-body">
      Одни из самых дешёвых лицензий на cPanel/DirectAdmin/Virtualizor/SolusVM/Plesk.

      <a routerLink="/domains">
        Подробнее

        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
            d="M184 112l144 144-144 144" />
        </svg>
      </a>
    </div>
  </div>
</div>

<div class="call-action">
  <div class="content">
    <h1>
      Уже хотите купить или остались вопросы?
      <small>Вы можете перейти в биллинг панель и заказать услуги, либо создать тикет со своим вопросом.</small>
    </h1>
    <a href="https://my.webnodes.ru" target="_blank">Создать аккаунт</a>
  </div>
</div>
